<div class="row">
  <div class="col-md-5">

    <div *ngIf="carNumbers | async">
      <div class="list-group">

        <a *ngFor="let carnum of carNumbers | async"
            (click)="selectCarNum(carnum)"
            class="list-group-item list-group-item-action"
            [class.active]="carnum === selectedCarnum"
            href="#">
          <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
          {{ carnum.number }}
        </a>
        <a (click)="newItemForm()"
            class="list-group-item list-group-item-action"
            href="#"
            [class.active]="selectedCarnum && selectedCarnum.id === null">
          [Add new]
        </a>

      </div>
    </div>
  </div>

  <div class="col-md-5">
    <app-carnum-detail [carnum]="selectedCarnum"></app-carnum-detail>
  </div>
</div>


