<div *ngIf="errors">
  <div class="alert alert-danger">
    An error occured <br>
    <ul>
      <li *ngFor="let e of errors.non_field_errors"> {{ e }}</li>
    </ul>
  </div>
</div>

<div *ngIf="carnum">

   <div class="form-group">
      <label>Car number:</label>
      <input [(ngModel)]="carnum.number" placeholder="AAA-001" class="form-control">
   </div>
   <div class="form-group">
     <label>Who owns it (username):</label>
     <input [(ngModel)]="carnum.user" placeholder="who" class="form-control">
   </div>
    <button (click)="save()" class="btn btn-default">Save</button>
    <button (click)="delete()" class="btn btn-danger" [class.disabled]="carnum.id == null">Delete</button>
</div>
